{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{#each acertos}}
    <div class="alert alert-success">{{texto}}</div>
{{else}}

{{/each}}

{{/each}}

{{#each inquilino}}


<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header"><h5>INFORMAÇÕES INQUILINO</h5></div>
  <div class="card-body">
    <h6 class="card-title">Nome:</h6>
    <p class="card-text">{{this.nome}}</p>
    <h6 class="card-title">CPF:</h6>
    <p class="card-text">{{this.cpf}}</p>
    <h6 class="card-title">email:</h6>
    <p class="card-text">{{this.email}}</p>
  </div>

  
        
<div class="form-group col-md-1">
      <form action="/inquilinos/deletar" method="post">
          <input type="hidden" name="id", value="{{_id}}">
          <button class="btn btn-danger">Deletar</button></a>     
      </form>
</div>
<div class="form-group col-md-1">
    <form action="/inquilinos/editar" method="post">
        <input type="hidden" name="id", value="{{_id}}">
        <button class="btn btn-primary">Editar</button></a> 
    </form>  
</div>
    

{{else}}
    <h5>Nenhum inquilino cadastrado</h5>
{{/each}}
